

html, body {
    height: 100%;
    margin: 0; 
}

*/ {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url('../img/000625490015.png');
    background-size:auto;
    background-position:center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(118, 134, 129);

    display: flex;
    flex-direction: column;
}


/*--------------
---- N A V -----
----------------*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;



    border: .5px solid rgb(0, 255, 76); 
    background-color: rgba(0, 0, 0, 0.208);

    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76); 
    transition: 
        box-shadow 0.3s, 
        border 0.3s, 
        transform 0.3s; 
    border-radius: 15px; 

    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;

}
        nav:hover {
            border: 1px solid rgb(180, 255, 202); 
            box-shadow: 
                0 0 6px rgb(41, 255, 105), 
            transform: scale(1.9); 
        }



nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow:  
        0 0 6px rgb(0, 255, 76),
        0 0 12px rgb(0, 255, 76);
    transition:
        transform 0.3s,
        text-shadow 0.3s;
    font-family: "neuropol-nova", sans-serif;
        font-style: normal;

    padding-top: 1%;
    padding-bottom: 1%;
    
  
}
        nav a:hover {
            text-shadow: 
                0 0 6px rgb(0, 255, 76), 
                0 0 12px rgb(0, 255, 76);
            transform: scale(1.1);
        }






/*IMAGE*/

body {


}

#ParentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 
        box-shadow 0.3s, 
        border 0.3s, 
        transform 0.3s;  
    



}


#imageContainer {
    display: flex;
    max-width: 50%;
    margin: auto;
    align-items: center;
    margin-bottom: 2%;
}

.image-wrapper {
    position: relative;
}


#image img {
    border: .5px solid rgb(0, 255, 76);
    background-color: rgba(0, 0, 0, 0.279);
    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76);
    border-radius: 35px; 
    max-width: 100%;
    
     padding: 3%;
    
}

img:hover {
    border: 1px solid rgb(180, 255, 202);
    box-shadow: 
        0 0 6px rgb(41, 255, 105),
        
}

.overlay {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 50Px;
    border: none;
    background: none;
}


/* ABOUT ME */

#AboutmeContainer {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
   padding-left: 15%;
   padding-right: 15%;

}


p {
    color: rgb(255, 255, 255);
    text-shadow:  
        0 0 6px rgb(0, 255, 76),
        0 0 12px rgb(0, 255, 76);
    transition:
        transform 0.3s,
        text-shadow 0.3s;
        border: 1px solid rgb(0, 255, 76); 
        background-color: rgba(0, 0, 0, 0.13); 
    
        box-shadow: 
            0 0 3px rgb(255, 255, 255), 
            0 0 6px rgb(0, 255, 76); 
        transition: 
            box-shadow 0.3s,  
            border 0.3s, 
            transform 0.3s;
        border-radius: 40px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    
}


p:hover {
    border: 2px solid rgb(180, 255, 202);
    box-shadow: 
        0 0 6px rgb(41, 255, 105),
        
   
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    border: 1px solid rgb(0, 255, 76); 
    background-color: rgba(0, 0, 0, 0.208);

    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76); 
    border-radius: 15px; 

   margin-left: 47%;
   margin-right: 47%;

   padding-top: .5%;
   padding-bottom: .5%;
   




}
        footer:hover {
            border: 2px solid rgb(180, 255, 202);
            box-shadow: 
                0 0 6px rgb(41, 255, 105),
        }



footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow:  
        0 0 6px rgb(0, 255, 76),
        0 0 12px rgb(0, 255, 76);
    transition:
        transform 0.3s,
        text-shadow 0.3s;
    font-family: "neuropol-nova", sans-serif;
        font-style: normal;


}
        footer a:hover {
            text-shadow: 
                0 0 6px rgb(0, 255, 76), 
                0 0 12px rgb(0, 255, 76);
            transform: scale(1.1);
        }


