

html, body {
    height: 100%;
    margin: 0; 
}

*/ {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/000625490015.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: rgb(118, 134, 129);
}



nav {
    display: flex;
    justify-content: center;
    padding: 5px
}

nav a {
    text-decoration: none;
    margin: 0 90px;
    color: rgb(255, 255, 255);
    text-shadow:  
        0 0 6px rgb(0, 255, 76),
        0 0 12px rgb(0, 255, 76);
    transition:
        transform 0.3s,
        text-shadow 0.3s;
font-family: "neuropol-nova", sans-serif;
        font-weight:900;
        font-style: normal;
}

nav a:hover {
    text-shadow: 
        0 0 6px rgb(0, 255, 76), 
        0 0 12px rgb(0, 255, 76);
     transform: scale(1.1);
}


.glowing-border-nav {
    border: 1px solid rgb(0, 255, 76);
    background-image: url('../img/gifs/logo2.gif'); 
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.208); 
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;

    padding: 10px;
    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76); 
    transition: 
        box-shadow 0.3s, 
        border 0.3s, 
        transform 0.3s; 
    border-radius: 15px; 
}

.glowing-border-nav:hover {
    border: 2px solid rgb(180, 255, 202); 
    box-shadow: 
        0 0 6px rgb(41, 255, 105), 
    transform: scale(1.9); 
}



/*IMAGE*/

.glowing-image {
    margin-left: 330px;
    border: 1px solid rgb(0, 255, 76);
    background-color: rgba(0, 0, 0, 0.13);
    padding: 20px;
    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76);
    transition: 
        box-shadow 0.3s, 
        border 0.3s, 
        transform 0.3s; 
    border-radius: 15px; 
    display: inline-block;

}

.glowing-image img{
    display: block;
    border-radius: 15px;
}


/* ABOUT ME */
p {
    text-decoration: none;
    margin: 0 90px;
    color: rgb(255, 255, 255);
    text-shadow:  
        0 0 6px rgb(0, 255, 76),
        0 0 12px rgb(0, 255, 76);
    transition:
        transform 0.3s,
        text-shadow 0.3s;
}

.glowing-border-aboutme {
    border: 1px solid rgb(0, 255, 76); 
    background-color: rgba(0, 0, 0, 0.13); 
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;

    padding: 10px;
    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76); 
    transition: 
        box-shadow 0.3s,  
        border 0.3s, 
        transform 0.3s;
    border-radius: 15px;
}

.glowing-border-aboutme:hover {
    border: 2px solid rgb(180, 255, 202);
    box-shadow: 
        0 0 6px rgb(41, 255, 105),
        
    transform: scale(1.9);
}


/* FOOTER */
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "neuropol-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
}

footer a {
    text-decoration: none;
    margin: 0 90px;
    color: rgb(255, 255, 255);
    text-shadow:  
        0 0 6px rgb(0, 255, 76),
        0 0 12px rgb(0, 255, 76);
    transition:
        transform 0.3s,
        text-shadow 0.3s;

}

footer a:hover {
    text-shadow: 
        0 0 6px rgb(0, 255, 76), 
        0 0 12px rgb(0, 255, 76);
     transform: scale(1.1);
}

.glowing-border-footer {
    border: 1px solid rgb(0, 255, 76);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.13); 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 570px;
    margin-right: 570px;

    padding: 10px;
    box-shadow: 
        0 0 3px rgb(255, 255, 255), 
        0 0 6px rgb(0, 255, 76); 
    transition: 
        0.3s, border 0.3s, 0.3s;
    border-radius: 15px;
}

.glowing-border-footer:hover {
    border: 2px solid rgb(180, 255, 202);
    box-shadow: 
        0 0 6px rgb(41, 255, 105),
}


#ParentContainer {

  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}